<br><br><br>
<!--
<mat-expansion-panel style='width:70%;text-align:center'>
    <mat-expansion-panel-header>
      <mat-panel-title >
        Real Madrid
      </mat-panel-title>
      <mat-panel-title>
        Vs
      </mat-panel-title>
      <mat-panel-title>
        F.C Barcelona
      </mat-panel-title>
    </mat-expansion-panel-header>
-->
<div class="card" >
  <div class="card-body container">
    <div class="row justify-content-around">
    <div class="col-md-5">
      <a routerLink="/displayTeam/{{match.teamOne._id}}" style="color:initial"><img src="http://localhost:5000/{{match.teamOne.logo}}" class="card-img-top" style ="height: 100px ; width:100px">
        <h5 class="card-title teamDisplay">{{match.teamOne.name}}</h5></a>
    </div>
    <div class="col-md-2" > <h4 class='timeAndDate'>{{match.startDate|date:'MMM d'}}</h4><hr> <h5 class='teamDisplay'>Vs</h5><hr> <h4 class='timeAndDate'>{{match.startTime}}</h4>
    </div>
    <div class="col-md-5">
      <a routerLink="/displayTeam/{{match.teamTwo._id}}" style="color:initial"><img src="http://localhost:5000/{{match.teamTwo.logo}}" class="card-img-top" style ="height: 100px ; width:100px">
        <h5 class="card-title teamDisplay">{{match.teamTwo.name}}</h5></a>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
      <p class="title col-6 teamDisplay">Category: </p> <p class="col-6 teamDisplay"> {{match.category}} </p>
  </div> 
  <div class="row justify-content-center">
      <p class="title col-6 teamDisplay">Competition:</p> <p class="col-6 teamDisplay"> {{match.competition}} </p>
  </div>
  <div class="row justify-content-center">
      <p class="title col-6 teamDisplay">Stadium: </p> <p class="col-6 teamDisplay"> {{match.stadium}} </p>
  </div>
  <p  *ngIf='isLogged' style='text-align: right;'>
    <button *ngIf='!subbed' class="btn btn-outline-success" (click)='subOrUnsub()'>Follow</button>
    <button *ngIf='subbed' class="btn btn-outline-danger" (click)='subOrUnsub()'>Unfollow</button>
  </p>
  </div>
</div>
<!-- </mat-expansion-panel> -->