<mat-card class="card container">
  <mat-card-header>
    <mat-card-title>LogIn</mat-card-title>
    <mat-card-subtitle>ShinSports!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <form [formGroup]="login.form" class="normal-form">
          <div class="controles-container">
            <mat-form-field>
              <input formControlName="email" matInput placeholder="Enter your email">
            </mat-form-field>
            <mat-form-field>
              <input type="password" formControlName="password" matInput placeholder="Enter your password">
            </mat-form-field>
          </div>
    </form>

  </mat-card-content>
  <mat-card-actions>
      <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="login.form.invalid" (click)="loginMethod()">LogIn</button>
          or <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</a>
        </div>
  </mat-card-actions>
</mat-card>

