<br><br><br>
<div *ngIf="currentPlayer" class="card">
    <div class="card-header">
  <h1 class="title">{{currentPlayer.name}}</h1>
</div>
  <img src="http://localhost:5000/{{currentPlayer.photo}}" alt="real" class="center">
<div class="card-body">
  <p class="title" style="font-weight: bolder;">{{currentPlayer.category}} Player</p><br>
  <div class="row justify-content-around">
        <p class="title col-4">Age : </p> <p class="col-4"> {{currentPlayer.age}}</p>
    </div>
    <div class="row justify-content-around">
      <p class="title col-4" *ngIf="currentPlayer.country" >Country: </p> <p class="col-4">{{currentPlayer.country}}</p>
    </div>
  <div class="row justify-content-around">
        <p class="title col-4">Height :</p> <p class="col-4"> {{currentPlayer.height}} Cm</p> 
    </div>
    <div class="row justify-content-around">
  <p class="title col-4">Weight : </p> <p class="col-4"> {{currentPlayer.weight}} Kg</p>
</div>
  <div class="row justify-content-around">
  <p class="title col-4" *ngIf="currentPlayer.careerStart" >Career Start: </p> <p class="col-4">{{currentPlayer.careerStart | date : 'mediumDate'}}</p>
</div>
  <div class="row justify-content-around">
  <p class="title col-4" *ngIf="currentPlayer.birthDate" >Birth Date : </p> <p class="col-4">{{currentPlayer.birthDate | date : 'mediumDate'}}</p>
</div>
</div>

  <p class="card-footer" *ngIf='isLogged'>
    <button *ngIf='!subbed' class="btn btn-outline-success" (click)='subOrUnsub()'>Subscribe</button>
    <button *ngIf='subbed' class="btn btn-outline-danger" (click)='subOrUnsub()'>Unsubscribe</button>
  </p>
  
</div>
<div *ngIf="!currentPlayer" class="title" style="text-align: center; font-size: 40px;">
  No player found
</div>