<h2>Add Category Form</h2>
<form [formGroup]="add.categoryForm" class="normal-form">
  <mat-grid-list cols="2" rowheight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$id">
        <mat-form-field>
          <input formControlName="name" matInput placeholder="Name*">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="controles-container">
            <div class="button-row">
              <button mat-raised-button color="primary" type="submit" [disabled]="add.categoryForm.invalid" (click)="add.addCategory()">Add</button>
            </div>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>

